@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Pacifico&display=swap');

body{
	margin: 0;
	background:#ccd6a6 url(makanan2.jpg) ;
	background-size: 100%;
}

#header{
	height:30% ;
	padding:0 ;
	margin-top: -35px;
	font-family: 'Alkatra', cursive;;
	font-size: 3rem;
	display: flex;
	justify-content: center;
}

/*#form{
	height:100vh;
	padding: 0;
	overflow: hidden;
}*/
.center{
	margin-top: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background: #fffbe9;
	border-radius: 10px;
}
.center h2{
	font-family: 'Pacifico', cursive;
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
}
.center form{
	padding: 0 40px;
	box-sizing: border-box;

}
form .txt_field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;

}
.txt_field input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.txt_field span{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #f4ead5;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -5px;
	color: orange;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
	width: 100%;
}
.pass{
	margin: 5px 0 20px 5px;
	color: black;
	cursor: pointer;
}

input[type="submit"]{
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #aa8b56;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}
input[type="submit"]:hover{
	border-color: #aa8b56;
	transition: .5s;
}
.signup_link{
	text-align: center;
	margin: 15px;
	text-decoration: underline;
}

